@font-face {
  font-family: "Clarendon Regular"; 
  src: url('../assets/fonts/clarendon-regular.otf') format("opentype"); 
}
body, html {
  background-color: $cloud; 
}

body, html, p {
  font-family: 'Josefin Sans', sans-serif !important;
}

/* ----------- TYPOGRAPHY ------------ */

h1 {
  font-family: "Clarendon Regular"; 
  text-shadow: 2px 2px black; 
}

h2, h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500 !important;
}

a { 
  color: inherit; 
  text-decoration: none !important;
} 


@media screen and (max-width: 767px) {

  .display-1 {
    font-size: 5em !important; 
  }

  .display-3 {
    font-size: 3.5rem !important; 
  }
  .display-4 {
    font-size: 2.5rem !important; 
  }
}

.text-white {
  color: $cloud; 
}
