@font-face {
  font-family: "Clarendon Regular"; 
  src: url('../assets/fonts/clarendon-regular.otf') format("opentype"); 
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------- GLOBAL BODY STYLES  --------- */

body, html {
  background-color: $darkteal; 
}

body, html, p {
  font-family: 'Josefin Sans', sans-serif;
}

/* ----------- TYPOGRAPHY ------------ */

h1, h2, h3, h4, label, input {
  font-family: "Clarendon Regular"; 
  color: $black; 
}

h2 {
  font-size: 30px; 
}

h4 {
  font-size: 18px; 
}

h1, h2, h3 {
  font-weight: 500; 
}


a { 
  color: inherit; 
  text-decoration: none;
} 

hr {
  background-color: white; 
}

.text-white {
  color: $cloud; 
}

.text-block {
  margin-top: 20px; 
}

.mega-text {
  font-size: 80px; 
}

.flush-text {
  line-height: .7;
}

.spaced-text {
  line-height: 1; 
}

.highlight-text {
  color: $brightred;
}

img {
  width: 400px;
  z-index: -1;
}

@media screen and (max-width: 1257px) {
  img {
    width: 375px; 
  }
}

/* --------- GLOBAL HTML ELEMENTS -------- */

input[type="text"], input[type="password"], input[type="email"] {
  display: block; 
  margin: 10px 0;
  height: 30px; 
  width: 200px; 
  font-size: 24px; 
}

.btn {
  border: none;
  font-size: 20px; 
  background-color: $darkteal; 
  margin-top: 20px; 
  padding: 10px; 
  color: $cloud;
  transition: box-shadow 0.2s ease-in 0.1s; 
  &:hover {
    background-color: $cloud; 
    color: $darkteal; 
    cursor: pointer;
    box-shadow: 5px 5px $darkteal;
  }
}

.form-group {
  margin-top: 20px; 
}

/* ---------- GLOBAL BOX STYLES -------- */

.dead-center {
  margin: 0; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.box {
  background: $cloud; 
  // display: flex; <- use if more boxes need flex
}

.large-box {
  width: 80vw; 
}

.med-box {
  width: 65vw; 
}

.page-box {
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.col {
  display: flex; 
  flex-direction: column;
  padding: 30px; 
  min-height: 350px; 
}

.half-col {
  width: 50%; 
}

/* ---------- COMPONENT BOXES -------- */


.show-container {
  box-shadow: 10px 10px black; 
}

@media screen and (max-width: 767px)  {
  .show-container {
    box-shadow: 0px 0px; 
  }
}

@media screen and (max-width: 767px) {

  .display-1 {
    font-size: 5em; 
  }

  .display-3 {
    font-size: 3.5rem; 
  }
  .display-4 {
    font-size: 2.5rem; 
  }
}

.text-white {
  color: $cloud; 
}

.col h3 {
  z-index: -1; 
  margin-left: -.2em; 
}

/* --------- CARDS --------- */

.card {
  max-width: 300px; 
  background-color: transparent; 
  border: 0px;
}

.card, .card-img {
  border-radius: 0px; 
}

/* --------- BUTTONS ------- */

.btn-warning {
  background-color: #efa801;
}