// .navbar-brand {
//   font-family: 'Clarendon Regular', Arial, sans-serif; 
//   background-color: $brightred; 
//   color: $cloud !important; 
//   padding: 0 5px; 
//   :hover {
//     background-color: $cloud;
//     color: $brightred !important; 
//   }
// }

#hamburger {
  background-color: transparent;
  border: none; 
  padding: 10px; 
}

#logo {
  color: $cloud; 
  text-shadow: 1px 1px black;
  background-color: $brightred;
  padding: 10px; 
}

/* Mobile */

#logout {
  padding: 10px; 
  background-color: $mutegold;
  border: none; 
  margin: 10px; 
  cursor: pointer;
  &:hover {
    color: $cloud; 
  }
}

#navbar {
  background-color: #212121;
  display: flex; 
  flex-direction: column-reverse; 
  position: absolute; 
  align-items: flex-end;
  right: 0; 
}

.nav-left {
  display: none;
}

.show-nav {
  display: flex;
  flex-direction: column;
  text-align: right; 
  padding: 20px; 
  a {
    font-family: "Clarendon Regular";
    color: $cloud;
    margin: 10px; 
  }
}

// #hamburger-section {
//   button {
//     background-color: transparent;
//   }
// }

@media screen and (min-width: 768px) {

  /* Desktop  */

  #hamburger {
    display: none; 
  }
  
  .nav-left {
    margin-left: 20px; 
    flex-direction: row;
    align-items: center;
    a {
      margin: 0 15px 0 0; 
      &:hover {
        color: $brightred; 
      }
    }
  }

  .show-nav {
    padding: 0px; 
  }

  #navbar {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    height: auto; 
    position: relative; 
  }
  
}

// .nav-link {
//   color: $cloud; 
//   font-weight: 500 !important; 
//   :hover {
//     background-color: $cloud;
//     color: $darkteal !important; 
//   }
// }

// .nav-item form input {
//   background-color: $mutegold; 
//   border: 0px; 
// }

// @media screen and (max-width: 767px) {
//   .home-logout {
//     margin-left: 0px !important; 
//   }

//   .nav-item form input {
//     padding: 0.5em !important;  
//     margin-bottom: 2em; 
//   }
// }
