.login-box {
  img {
    height: 350px; 
    width: 300px; 
    object-fit: cover;
  }
  label {
    font-size: 20px; 
  }
}

@media screen and (max-width: 910px) {
  .login-box .col {
    align-items: center;
    justify-content: center;
  }
}

