.profile-info {
  h2 {
    color: $darkteal; 
  }
}

.profile-jumbotron {
  background-image: url('../../assets/images/record-profile.jpg'); 
  background-size: cover; 
  background-position: bottom;
}

.prof-left {
  background-color: $darkteal;
  h2 {
    margin-left: -.35em; 
    color: $cloud; 
  }
}

@media screen and (max-width: 767px) {
  .profile-box button {
    margin-bottom: 2em; 
  }
}
